/* General */
body {
    display: flex;
    flex-direction: column;

    background-color: #f1f1f1;

    justify-content: center; /* horizontal align */
    align-items: center; /* vertical */

    height: 100vh;
}


/* Grid Setup */
#game-grid {
    display: flex;
    flex-direction: column; /* Make rows, rows. */
    
    /* scale evenly */
    min-width: 420px;
    min-height: 420px;
    width: 80vmin;
    height: 80vmin;

    align-items: center;  /* centering */
    justify-content: space-between;  /* spacing */

}
/* rows */
#game-grid div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* columns */
#game-grid div div {
    display: flex;
    
    width: 10%;
    aspect-ratio: 1;  /* make height same as width*/

    border: 2px solid #6d8ca0;
    box-sizing: border-box;
    border-radius: 3px;

    align-items: center;
    justify-content: center;
    background-color: #80b1d0;
    font-size: 2rem;
}

#game-grid div div p {
    margin: 0;
}

.available-move {
    background-color: #9580d0 !important;  /* take priority over original bgcolor */
}
/* todo switch to class */
#wall {
    position: absolute;
    background-color: #a1826d;
    /* box-sizing: border-box; */
    /* border: 2px solid #7e6555; */
    border-radius: 3px;
}